<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Link created!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
    <a href="{{ url_for('go.index') }}"><h1 class="title is-4 is-spaced bd-anchor-title">{{ config['SERVER_NAME'] }} url go!</h1></a>
    <br />
    <section class="section">
        <div class="container">
        <div class="field">
            <label class="label">Original URL</label>
            <div class="control">
                <input class="input" type="text" name="original_url" value="{{ full_url }}" readonly>
            </div>
        </div>
        <label class="label">New URL</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" name="new_url" id="new_url" value="{{ url_for('go.redirect_to_url', short_url=new_url, _external=True) }}" readonly>
            </div>
            <div class="control">
            <a class="button is-info" onclick="copy()">
                Copy
            </a>
            </div>
        </div>
        {% if stats_id is not none %}
        <div class="field">
            <label class="label">Stats id</label>
            <div class="control">
                <input class="input" type="text" name="original_url" value="{{ stats_id }}" readonly>
            </div>
        </div>
        <br />
        <label class="label">Go to stats page</label>
        <button class="button is-info" onClick="window.location.href = '{{ url_for('go.stats') }}'">Stats</button>
        </div>
        {% endif %}
    </section>
    <script>
        function copy() {
        /* Get the text field */
        var copyText = document.getElementById("new_url");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the url: " + copyText.value);
        }
    </script>
    </body>
</html>
